body {
    background-color: #f0f0f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#frame {
    width: 300px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 0px 1px 8px black
}


#answer {
    
}

@media (max-width: 500px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}
input {
     width: 20px;
     height: auto;
}

#lupo {
    width: 100%;
    display: none;
}